@mixin flexbox($h) {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: $h;
}

body {
  overflow: hidden;
  background-color: #0080EE;
  color: #fff;
  header {
    @include flexbox(15vh);
    h1 {
      margin: auto;
      font-size: 32px;
      a {
        color: #fff;
        font-family: 'Poiret One', Arial, sans;
        font-weight: bold;
      }
      a:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }
  main {
    section {
      @include flexbox(70vh);
      border: 1px solid black;
      background-color: #fff;
      .column {
        #editor {
          height: 60vh !important;
        }
        #preview {
          height: 60vh !important;
          overflow: auto;
          background-color: #f7f7f7 !important;
        }
      }
    }
  }
  footer {
    section {
      @include flexbox(10vh);
      .column {
        p {
          font-size: calc(8px + 1vmin);
          margin: 0;
          a {
            color: #FF5500;
            font-weight: bold;
          }
          a:hover {
            color: #FFCC55;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    main {
      section {
        @include flexbox(40vh);
        border: 1px solid black;
        background-color: #f4f4f4;
        .column {
          #editor {
            height: 37vh !important;
          }
          #preview {
            height: 37vh !important;
            overflow: auto;
            background-color: #f7f7f7 !important;
          }
        }
      }
    }
  }
}
  